<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;0,500;0,600;0,700;1,400;1,700&family=MuseoModerno:ital,wght@0,300;0,400;0,500;1,400&display=swap" rel="stylesheet" />
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}" type="image/x-icon" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />

    {% block head_content %}{% endblock %}
  </head>
  <body>
    <header class="header">
      <div class="header__logo">
        <a href="{{url_for('habits.index')}}">
          <img src="{{url_for('static', filename='images/my_logo-transparent.png')}}" alt="Habit tracker logo" />
        </a>
      </div>
      <ul class="header__nav">
        <li><a href="{{url_for('habits.index')}}">Home</a></li>
        {% if 'add' is not in request.endpoint %}
        <li>
          <a href="{{url_for('habits.add_habit')}}">Add</a>
        </li>
        {% endif %}
      </ul>
    </header>

    <main class="main_content">
        <section class="dates">
          {% for date in date_range(selected_date)%}
            <a
                    class="dates__link {{ 'dates__link--current' if loop.index0 == 3 else '' }}"
                    href="{{url_for('habits.index', date=date) }}"
            >
              <time class="date" datetime="{{date}}">
                <span>{{date.strftime("%a") }}</span>
                <span>{{date.strftime("%d") }}</span>
              </time>

            </a>
          {% endfor %}
        </section>

        {% block main_content %}{% endblock %}
    </main>

    <footer class="footer"></footer>
  </body>
</html>
